<% layout('layouts/boilerplate.ejs') %>


<h1>Edit Student Details</h1>
<form method="post" action="/listall/<%= selectedStudentData._id %>?_method=PUT">
    <label for = 'student-name'>
        Student Name
        <input id="student-name" name="studentName" value="<%= selectedStudentData.studentName %>" required/>
    </label>
    <br><br>
    <label for="parent-name">
        Parent name
        <input id="parent-name" name="parentName" value="<%= selectedStudentData.parentName %>"required />
    </label>
    <br><br>
    <label for="phone">
        Contact No.
        <input type="number" id="phone" name="contact" value="<%= selectedStudentData.contact %>" required />
    </label>
    <br><br>
    <label for="address">
        Address
        <input id="address" name="address"  value="<%= selectedStudentData.address %>" required/>
    </label>
    <br><br>
    <label for="school">
        school
        <input id="school" name="schoolName" value="<%= selectedStudentData.schoolName %>" required/>
    </label>
    <br><br>
    <label for="class">
        Class
        <select id="class" name="class" value="<%= selectedStudentData.class %>" required>
            <option value="4th">4<sup>th</sup></option>
            <option value="5th">5<sup>th</sup></option>
            <option value="6th">6<sup>th</sup></option>
            <option value="7th">7<sup>th</sup></option>
            <option value="8th">8<sup>th</sup></option>
            <option value="9th">9<sup>th</sup></option>
            <option value="10th">10<sup>th</sup></option>
        </select>
    </label>
    <br><br>
    <label for="subject">
        Subjects
        <input id="subject" name="subject" value="<%= selectedStudentData.subject %>" required/>
        
    </label>
    <br><br><br>
    <label for="fees">
        Fees
        <input id="fees" name="Fees" type="number" value="<%= selectedStudentData.Fees %>" required/>
    </label>
    <br><br>
    <label for="demodate">
        Demo Date
        <input id="demodate" name="demoClassDate" type="date">
    </label>
    <br><br>
    <label for="joindate">
        Joining Date
        <input id="joindate" name="joiningDate" type="date" />
    </label>
    <br><br>
    <button>Submit</button>
</form>
